.green{
	background: rgba(71,192,123, 0.4);
}
#pageNum{
	color: rgba(71,192,123, 0.6);
	font-weight: bold;
}

#rsCode{
	color: black;
	font-weight: bold;
}

#reCode{
	color:#EDAF75;
	font-weight: bold;
}

.errStyle{
	box-shadow:4px 4px 2px rgba(244,50,50,0.3);
}
.active{
	background-color: rgba(64,65,62,0.8);
}

table tr td{
	border-right: 1px #ccc dashed;
	border-top: 1px #ccc dashed;
	line-height: 21px;
	height: 21px;
	text-align: center;
	width: 35px;

}

.content{
	position: relative;
	overflow-x: auto;

	/*overflow-wrap: */
}

.t1 {
	display: inline-block;	
	height: auto;

}

.lline{
	border-bottom: 1px #ccc dashed;
}

.fline{
	border: none;
	width: 20px;
	font-weight: bold;
}

.sCol{
	border-left: 1px #ccc dashed;
}

.b-red{
	border-bottom: 2px solid red;
}

.l-red{
	border-left: 2px solid red;
}

.red{
	border: 2px solid red;
}

.deepGray{
	background-color: #A1C34B;
}

.blue{
	background-color: #507BA5;
}
.yellow{
	background-color: yellow;
}

.top-red{
	border-top: 2px solid red;
}

.r-red{
	border-right: 2px solid red;
}

.gray{
	background-color: #ccc;
}

.low-blue{
	background-color: #69b9b2;
}

/*.t4, .t5{
	display: inline-block;
	margin-bottom: 15px;
	
}*/

.origin{
	background-color: #EDAF75;
}


.t2{
	position: absolute;
	top: 0;
	left: 565px;
	margin-left: 5px;
}


.t5{
	position: absolute;
	top: 264px;
	left: 565px;
	margin-left: 5px;
}

th label{
	font-size: 14px;
}

th input{
	width: 60px;
}

.t3{
	position: absolute;
	left:  955px;
	top:25px;
	margin-left: 5px;
}

.chbx{
	position: absolute;
	right: 10em;
	top:5px;
}


.no-border{
	border: none;
}



button::hover{
	transform: scale(1.5) 1s;
	-webkit-transform: scale(1.5) 1s;
	-moz-transform: scale(1.5) 1s;
}

footer{
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	text-align: center;
}
.no-vertical-border{
	padding-top: 15px; 
}

.no-vertical-border td{
	border-left: none;
	border-right: none;
	border-top: none;
}

.no-vertical-border:first-of-child(td) {
	border-left:1px #ccc dashed;
}

.no-vertical-border:last-of-child(td) {
	border-right:1px #ccc dashed;
}

.t3 tr td{
	width: 35px;
}

/*三个输入框*/
.tInput{
	    width: 81px;
}

ul li{
	list-style: none;
	display: inline-block;
}

.t2 th,.t1 th{
	text-align: center;
}

body{
	overflow-y: hidden;
	overflow-x: scroll;
}

footer{
	position: fixed;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.a_56 td:not(:first-of-type):not(:last-of-type), .b_56 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/56.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.F5 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/f5.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.Y5 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/y5.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.J4 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/j4.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.W td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/w.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.a_12 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/12.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.a_6 td:not(:first-of-type):not(:last-of-type),.b_6 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/6.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.T5 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/t5.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.N5 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/n5.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.C td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/c.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.C5 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/c5.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.C6 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/c6.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.D5 td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/d5.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.S td:not(:first-of-type):not(:last-of-type){
	background-image: url('../img/s.png');
	background-repeat: no-repeat;
	overflow: hidden;
}

.tc1,.tc2, .tc3, .tc4,.tc5, .tc6, .tc7, .tc8, .tc9,.tc10,.tc11,.tc12,
.dc1,.dc2,.dc3,.dc4,.dc5,.dc6,.dc7,.dc8,.dc9,.dc10,.dc11,.dc12{
	background-repeat:no-repeat;
	overflow: hidden;
}

.tc1{
	background-image: url('../img/tc1.png');

}

.tc2{
	background-image: url('../img/tc2.png');
}

.tc3{
	background-image: url('../img/tc3.png');
}

.tc4{
	background-image: url('../img/tc4.png');
}

.tc5{
	background-image: url('../img/tc5.png');
}

.tc6{
	background-image: url('../img/tc6.png');
}

.tc7{
	background-image: url('../img/tc7.png');
}

.tc8{
	background-image: url('../img/tc8.png');
}

.tc9{
	background-image: url('../img/tc9.png');
}

.tc10{
	background-image: url('../img/tc10.png');
}


.tc11{
	background-image: url('../img/tc11.png');
}

.tc12{
	background-image: url('../img/tc12.png');
}




.dc1{
	background-image: url('../img/dc1.png');

}

.dc2{
	background-image: url('../img/dc2.png');
}

.dc3{
	background-image: url('../img/dc3.png');
}

.dc4{
	background-image: url('../img/dc4.png');
}

.dc5{
	background-image: url('../img/dc5.png');
}

.dc6{
	background-image: url('../img/dc6.png');
}

.dc7{
	background-image: url('../img/dc7.png');
}

.dc8{
	background-image: url('../img/dc8.png');
}

.dc9{
	background-image: url('../img/dc9.png');
}

.dc10{
	background-image: url('../img/tc10.png');
}


.dc11{
	background-image: url('../img/tc11.png');
}

.dc12{
	background-image: url('../img/tc12.png');
}
